version: "3.9"

services:
  db:
    image: mariadb:11
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_DATABASE: test_db
      MARIADB_USER: test
      MARIADB_PASSWORD: test
    ports:
      - "3306:3306"